@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  height: 100%;
  font-family: "Montserrat";
}

html {
  height: 100%;
}

.masthead {
  height: 100%;
  background-image: url("geo1.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
}

.masthead .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 90%;
  text-align: center;
}

.masthead .i1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

.masthead .i2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.masthead .item {
  height: 50%;
  width: 100%;
}

.masthead .item .btn {
  background-color: #1c3765;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.masthead .item h1 {
  color: #1c3765;
}

.masthead .item p {
  line-height: 1.8;
  font-size: 19px;
  font-weight: bold;
  color: #1c3765;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10% !important;
  background-color: white !important;
  z-index: 201;
}

.navbar-collapse {
  background-color: white;
}

.content-1 {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.content-1 .carousel-indicators li {
  background-color: #1c3765;
}

.content-1 .carousel-indicators .active {
  background-color: rgba(28, 55, 101, 0.4);
}

.content-1 .carousel-caption {
  top: 0;
  color: #1c3765;
}

.content-1 .carousel-caption h5 {
  font-weight: bold;
}

.content-1 .carousel {
  height: 250px;
}

.hire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  background-color: #1c3765;
  color: white;
  padding-bottom: 4rem;
}

.hire .ilu2 {
  width: 70%;
}

.hire .desktop1 {
  display: none;
}

.hire .btn {
  background-color: white;
  color: #1c3765;
  text-decoration: none;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hire .desktop {
  display: none;
}

.hire .top, .hire .bottom {
  z-index: 200;
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hire .bottom {
  width: 80% !important;
}

.hire .bottom p {
  line-height: 1.8;
}

.hire .top .img-fluid {
  height: 200px;
}

.hire:before {
  position: absolute;
  width: 100%;
  height: 70%;
  content: '';
  background: inherit;
  z-index: 199;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.services {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services h1 {
  color: #1c3765;
  font-size: 30px;
}

.services .service1 {
  width: 80%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  margin: 15px;
}

.services .service1 .down {
  position: absolute;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1c3765;
}

.services .service1 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .service1 .item p {
  color: #1c3765;
  opacity: 0.8;
}

.services .service1 .item .fab, .services .service1 .item .fas {
  color: #1c3765;
}

#book, #book2, #book3, #book4 {
  display: none;
  text-align: left;
  width: 80%;
  line-height: 1.8;
}

#book p, #book2 p, #book3 p, #book4 p {
  color: #1c3765;
}

#book a, #book2 a, #book3 a, #book4 a {
  color: #1c3765;
}

.banner {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("geo.jpg");
  background-size: contain;
  background-position: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
}

.banner h5 {
  background-color: white;
  color: #1c3765;
  font-weight: bolder;
}

.banner .btn {
  background-color: #1c3765;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
}

.testimonials .carousel-inner {
  height: 100%;
}

.testimonials .carousel-inner p {
  font-style: italic;
}

.testimonials .carousel {
  height: 100% !important;
}

.testimonials .carousel-indicators li {
  background-color: #1c3765 !important;
}

.testimonials .carousel-indicators .active {
  background-color: rgba(28, 55, 101, 0.4) !important;
}

.testimonials .carousel-caption {
  top: 0;
}

.testimonials .carousel-caption p {
  color: #1c3765;
}

.testimonials .carousel-caption h5 {
  color: #1c3765;
  font-weight: bold;
}

.testimonials p {
  line-height: 1.8;
  font-size: 15px;
}

.testimonials .name {
  font-weight: bold;
}

.testimonials .carousel {
  height: 600px;
}

.testimonials .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 90%;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.partners .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 3rem;
  color: #1c3765;
  font-weight: bold;
}

.partners .partnersC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .partnersC .item {
  width: 45%;
}

.b1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1c3765 !important;
  background-image: none;
}

.b1 h5, .b1 p {
  background-color: #1c3765;
  color: white;
}

.J {
  display: none !important;
}

.kk {
  padding-top: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kk .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding-bottom: 3rem;
}

.kk .contact .btn {
  background-color: #1c3765;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  height: 30%;
  background-image: url("geo1.jpg");
  background-size: cover;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .item {
  margin: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.footer .item p {
  font-size: 12px;
}

.footer .S {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .S .itemm {
  margin: 20px;
}

.footer .S .itemm .fab {
  color: #1c3765;
  opacity: 0.8;
}

@media (min-width: 1281px) {
  .navbar .navbar-nav .nav-item a {
    color: #1c3765;
  }
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .item p {
    font-size: 20px;
    text-align: center;
    color: #1c3765;
  }
  .footer .item {
    height: 80%;
  }
  .partners {
    height: 60%;
  }
  .partners .item {
    width: 20% !important;
    margin: 20px;
  }
  .contact {
    width: 50% !important;
  }
  .testimonials .carousel-caption p {
    line-height: 2.5;
    font-size: 20px;
    font-style: italic;
  }
  .testimonials .carousel-caption h5 {
    margin-top: 50px;
  }
  .services {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .services .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 30px;
    color: #1c3765;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  .services .service1 {
    width: 60%;
  }
  .services .service1 p {
    font-size: 25px;
  }
  .services #book, .services #book2, .services #book3, .services #book4 {
    width: 60%;
    font-size: 20px;
    text-align: left;
  }
  .services #book a, .services #book2 a, .services #book3 a, .services #book4 a {
    text-decoration: none;
    color: #1c3765;
  }
  .banner {
    height: 50%;
  }
  .banner h5 {
    font-size: 40px;
  }
  .banner .btn {
    font-size: 20px;
    margin-top: 50px !important;
  }
  .content-1 {
    display: none;
  }
  .hire {
    margin-top: 5rem;
  }
  .hire .top, .hire .bottom {
    display: none;
  }
  .hire .desktop1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 200;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    text-align: center;
  }
  .hire .desktop1 p {
    font-size: 20px;
    width: 70%;
    line-height: 2;
  }
  .hire .desktop1 .pp {
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
  }
  .hire .desktop1 .img-fluid {
    height: 200px;
  }
  .hire .desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 200;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .hire .desktop .readmore {
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  .hire .desktop .header {
    height: 20%;
    text-align: center;
  }
  .hire .desktop .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
  }
  .hire .desktop .items .item {
    width: 25%;
    text-align: center;
    font-size: 25px;
    height: 50%;
  }
  .navbar {
    background-color: white !important;
    padding-left: 4rem;
    padding-right: 5rem;
  }
  .masthead {
    height: 100%;
    background-size: contain;
  }
  .masthead .wrapper {
    width: 100%;
  }
  .masthead .i2 .img-fluid {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 50px;
  }
  .masthead .i1 {
    padding-left: 4rem;
  }
  .masthead .wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    height: 100%;
  }
  .masthead .wrapper .J {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    background-color: white;
    color: #1c3765;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .masthead .wrapper .itemJ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 15px;
  }
  .masthead .wrapper .item {
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .masthead .wrapper .item p {
    font-size: 34px;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .navbar-nav .nav-item a {
    font-size: 13px;
    color: #1c3765;
    font-weight: bold;
  }
  .hire {
    padding-top: 5rem;
  }
  p {
    font-size: 25px;
  }
  h5 {
    font-size: 30px;
  }
  .testimonials p {
    font-size: 25px;
  }
  .masthead p {
    font-size: 40px !important;
  }
  .masthead .item .img-fluid {
    height: 400px;
  }
  .footer .item p {
    font-size: 20px;
  }
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

textarea {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */